---
layout: bootcamp
root: .
venue: University of Technology, Sydney
address: 15 Broadway, Ultimo NSW 2007, Australia
country: Australia
humandate: Feb 18-19, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-18
enddate: 2014-02-19
latlng: -33.883898,151.201013
registration: open
instructor: ["Daniel Falster", "Rich FitzJohn", "Diego Barneche"]
contact: daniel.falster@mq.edu.au
---
<div align="center">
</div>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}

This intensive 2-day Software Carpentry bootcamp will introduce attendees to a range of computing skills aimed at making them more productive and efficient in their work. A substantial focus of the workshop will be on improving programming skills in R, but will also include topics on version control, using the shell, and reproducible research. Short tutorials will alternate with hands-on practical exercises. Participants will be encouraged both to help one another, and to apply what they have learned to their own research problems during and between sessions.

<h2>Who</h2>

The bootcamp is targeted at postgraduate students and other researchers in Ecology and Evolutionary Biology.

Please note that this is not an introductory R course and in order to get the most out of the bootcamp, attendees should have at least a basic knowledge of programming in R. However, please don't let that scare you off - if you'd like to attend but have never used R before, working through the online material covered in <a href="http://nicercode.github.io/modules/#introduction-to-r-macquarie-university-2013">'Day 1' of the NiceR code 'Introduction to R'</a> will get you up to speed!

<h2>Schedule</h2>

{% include bootcamps/schedule.html %}

<h2>Installation</h2>

<p>
  Please follow these <a href="lessons/setup.html">installation instructions</a>.
</p>

<hr/>
