---
layout: bootcamp
root: .
venue: University of Technology, Sydney
address: 15 Broadway, Ultimo NSW 2007, Australia
country: Australia
humandate: Feb 18-19, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-18
enddate: 2014-02-19
latlng: -33.883898,151.201013
registration: open
instructor: ["Daniel Falster", "Rich FitzJohn"]
contact: daniel.falster@mq.edu.au
---
<div align="center">

<!-- <div class="row-fluid">
 <div class="span12">
 <a href="https://shortcourses-bookings.uts.edu.au/ClientView/Schedules/ScheduleDetail.aspx?ScheduleID=1521&EventID=1257"><h2>Register for the bootcamp</h2></a> <br>
  </div>
</div> -->

</div>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-r.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-shell/tutorial.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
<!-- Removed section on databases -->
  </div>
</div>



<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/r.html">R</a></li>
<!--   <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li> -->
</ul>
