<div class="span4">
<strong>Day 1</strong>
<table class="table">
<tbody>
<tr>
	<td>09:00 - 9:30</td>
	<td>Introduction + Rstudio</td>
</tr>
<tr>
	<td>9:30 - 10:00</td>
	<td>Functions (pt 1)</td>
</tr>
<tr>
	<td>10:00 - 10:20</td>
	<td>Break</td>
</tr>
<tr>
	<td>10:20 - 11:20</td>
	<td>Functions (pt 2)</td>
</tr>
<tr>
	<td>11:20 - 12:00</td>
	<td>Project setup</td>
</tr>
<tr>
	<td>12:30 - 13:30</td>
	<td>Lunch</td>
</tr>
<tr>
	<td>13:30 - 15:00</td>
	<td>Repeating things (plyr)</td>
</tr>
<tr>
	<td>15:00 - 15:20</td>
	<td>Break</td>
</tr>
<tr>
	<td>15:20 - 16:00</td>
	<td>Repeating things (loops)</td>
</tr>
<tr>
	<td>16:00 - 17:00</td>
	<td>Testing</td>
</tr>
</tbody>
</table>
<strong>Day 2</strong>
<table class="table">
<tbody>
<tr>
	<td>09:00 - 10:00</td>
	<td>Basic shell scripting</td>
</tr>
<tr>
	<td>10:00 - 10:15</td>
	<td>Break</td>
</tr>
<tr>
	<td>10:15 - 12:15</td>
	<td>Version control with git</td>
</tr>
<tr>
	<td>12:15 - 13:15</td>
	<td>Lunch</td>
</tr>
<tr>
	<td>13:15 - 14:00</td>
	<td>Git workflows</td>
</tr>
<tr>
	<td>14:00 - 14:30</td>
	<td>Break</td>
</tr>
<tr>
	<td>15:00 - 16:40</td>
	<td>Reproducible research with knitr</td>
</tr>
<tr>
	<td>16:40 - 17:00</td>
	<td>Wrap up</td>
</tr>
</tbody>
</table>
</div> <!-- schedule -->
<br clear="all">
