<div class="span4">
<strong>Day 1</strong>
<table class="table">
<tbody>
<tr>
	<td>09:00 - 9:20</td>
	<td>Introduction</td>
</tr>
<tr>
	<td>09:20 - 10:20</td>
	<td>Functions</td>
</tr>
<tr>
	<td>10:20 - 10:40</td>
	<td>Break</td>
</tr>
<tr>
	<td>10:40 - 12:00</td>
	<td>Testing</td>
</tr>
<tr>
	<td>12:00 - 13:00</td>
	<td>Lunch</td>
</tr>
<tr>
	<td>13:00 - 13:45</td>
	<td>Workflow &amp; projects</td>
</tr>
<tr>
	<td>13:45 - 14:15</td>
	<td>Repeating things</td>
</tr>
<tr>
	<td>14:15 - 14:35</td>
	<td>Break</td>
</tr>
<tr>
	<td>14:35 - 17:00</td>
	<td>Data analysis</td>
</tr>
</tbody>
</table>
<strong>Day 2</strong>
<table class="table">
<tbody>
<tr>
	<td>09:00 - 10:00</td>
	<td>Basic shell scripting</td>
</tr>
<tr>
	<td>10:00 - 10:15</td>
	<td>Break</td>
</tr>
<tr>
	<td>10:15 - 12:15</td>
	<td>Version control with git</td>
</tr>
<tr>
	<td>12:15 - 13:15</td>
	<td>Lunch</td>
</tr>
<tr>
	<td>13:15 - 14:00</td>
	<td>Git workflows</td>
</tr>
<tr>
	<td>14:00 - 14:30</td>
	<td>Break</td>
</tr>
<tr>
	<td>15:00 - 16:40</td>
	<td>Reproducible research with knitr</td>
</tr>
<tr>
	<td>16:40 - 17:00</td>
	<td>Wrap up</td>
</tr>
</tbody>
</table>
</div> <!-- schedule -->
<br clear="all">
